nav#header.z-depth-2
    .nav-wrapper.white
        .col.s12
            a.cyan-text.text-darken-2.texto.brand-logo(href='/') Where's my Uni?
            ul.right.hide-on-med-and-down
                li: a.cyan-text.text-darken-2.texto(href='/log/registro') Cuenta 
                    i.mdi-action-account-circle
            a.button-collapse.cyan-text.text-darken-2(href='#', data-activates="mobile-demo")
                i.mdi-navigation-menu.cyan-text.text-darken-2
            ul#mobile-demo.side-nav
                li: a.cyan-text.text-darken-2.texto(href='/log/registro') Cuanta
                    i.mdi-action-account-circle