extends layout

block content
    .container
        .row
            .col.s12.m8.offset-m2.center-align
                img#logoGrande(src="./img/Where's-logow.png")
            .col.s12.m6.offset-m3
                .card.grey.lighten-4
                    form(method="post", action="/log")
                        .card-content.z-depth-4
                            .input-field
                                i.mdi-action-account-circle.prefix
                                input#icon_prefix.validate(type='text',name="nombre", required="required",placeholder="Usuario...")
                                label(for='icon_prefix')
                            .input-field
                                i.mdi-action-lock.prefix
                                input#icon_prefix.validate(type='password',name="pass", required="required",placeholder="Contraseña...")
                                label(for='icon_prefix')
                            div.center-align
                                a.waves-effect.waves-teal.btn-flat.cyan.darken-2.btn.disabled.white-text(href='/log/registro') Nuevo Usuario
                            .card-action
                                button.btn-flat.waves-effect.waves-teal.right(type='submit', name='action') Sign In
                if nombre
                    h6.center-align.white-text Parece que ingresaste datos de #{nombre} erroneos.