doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no,initial-sacale=1")
        title PubliEasy
        link(rel="stylesheet", href="/css/materialize.min.css", media='screen,projection')
        link(rel="stylesheet", href="/css/style.css")
    body#intros
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(type='text/javascript', src='/js/materialize.min.js')
        script(type='text/javascript', src='/js/function.js')
        include header
        block content