extends layout

block content
    .container
        .row
            .col.s12.m8.offset-m2.center-align
                img#logoGrande(src="/img/Where's-logow.png")
        .row
            .col.s12.m6.offset-m3
                .card.grey.lighten-4
                    form(method="post", action="/log/actualizar")
                        .card-content.z-depth-4
                            .input-field
                                i.mdi-action-account-circle.prefix
                                input#icon_prefix.validate(type='text',name="nombre", required="required",placeholder=dato.nombre)
                                label(for='icon_prefix')
                            .input-field
                                i.mdi-action-payment.prefix
                                input#icon_prefix.validate(type='text',name="cuenta", required="required",placeholder= dato.cuenta)
                                label(for='icon_prefix')
                            .input-field
                                i.mdi-action-lock.prefix
                                input#icon_prefix.validate(type='password',name="pw", required="required",placeholder= dato.pw)
                                label(for='icon_prefix')
                            .card-action
                                button.btn-flat.waves-effect.waves-teal.right(type='submit', name='action') Registrar