extends layout

block content
    .container
        .row
            .col.s12.m8.offset-m2.center-align
                img#logoGrande(src="/img/Where's-logow.png")
        .row
            .col.s12.m6.offset-m3
                .card.grey.lighten-4
                    .collection
                        a.collection-item(href='/ruta/CU1-Villas') CU1-Villas
                        a.collection-item(href='/ruta/Villas-CU1') Villas-CU1
                        a.collection-item(href='/ruta/CU2-Villas') CU2-Villas
                        a.collection-item(href='/ruta/Cu-Central') Cu-Central
                        a.collection-item(href='/ruta/Central-CU') Central-CU
                        a.collection-item(href='/ruta/Cu-Central') Cu-Central