extends layout

block content
    .container
        .row
            .col.s12.m6.offset-m3
                .card.grey.lighten-4
                    .card-image
                        img(src="/img/650_1200.jpg")
                        span.card-title.cyan-text.text-darken-2= datos.nombre
                    .card-content.z-depth-4
                .card.grey.lighten-4
                    span.card-title.cyan-text.text-darken-2 Horarios
                    .card-content.z-depth-4
                        table.striped.responsive-table
                            thead
                                tr
                                    th(data-field="Salida") Salida
                                    th(data-field="Llegada") Llegada
                            tbody
                                each j in datos.horario
                                    tr
                                        td=j.salida
                                        td=j.llegada
                .card.grey.lighten-4
                    .card-content.z-depth-4
                        table.striped.responsive-table
                            span.card-title.cyan-text.text-darken-2 Paradas
                            .collection
                                each x in datos.paradas
                                    a.collection-item= x
