#header{
    width: 100%;
    display: block;
}

#intros{
    background-color: #0097a7;
    height: 100%;
    width: 100%;
}

.texto{
    font-weight: 300;
}

#logo{
    width: 22vh;
}

#logoGrande{
    width: 60%;
}

#blanco{
    background-color: #FFF;
}

.indicator{
    background-color: #0097a7 !important;
}
#bot{
    color: white !important;
}
